html, body {
    height: 99%;
    background-color: #683611;
    color: #683611;
}
#contPrincipal{
    background-color: #F6E8B8;
    height: 99%;
    width: 80%;
    margin: auto;
    margin-top:10px;
    margin-bottom:0px;
    text-align: center;
    padding: 0px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#contDreta{
    width: 20%;
    height: 100%;
    float: right;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

#contDreta img#imgDreta{
    transform: rotate(90deg);
    height:auto;
    width: 1474px;
    float: right;
    position: absolute;
    right: -800px;
    top: 200px;
    z-index: 0;
}

#contEsquerra{
    width: 20%;
    height: 100%;
    float: left;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

#contEsquerra img#imgEsquerra{
    transform: rotate(90deg);
    height:auto;
    width: 1474px;
    float: left;
    position: absolute;
    left: -800px;
    top: 250px;
    z-index: 0;
}

#contCentre{
    width: 40%;
    height: 100%;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

#titol{
    padding-top: 0px;
}
.tablaLetras{
    border-spacing: 10px;
    empty-cells: show;
    width: 80%;
    margin: 5% 10%;
    height: 20%;
}
#contInstruccions{
    background-color: #683611;
    color: #F6E8B8;
    width: 99%;
    height: 12%;
    padding: 3px;
    border-radius: 10px;
    overflow: hidden;
}
.tablaTeclado{
    border-spacing: 10px;
    width: 90%;
    margin: 0 7%;
    height: 20%;
}
.tablaTeclado td{
    border: 1px solid #F6E8B8;
    text-align: center;
    width: 10%;
}

.tablaLetras td{
    border: 1px solid #683611;;
    text-align: center;
    width: 10%;
    background-color: white;
}