html, body {
    height: 99%;
    background-color: #683611;
    color: #683611;
}
#contPrincipal{
    background-color: #F6E8B8;
    height: 99%;
    width: 80%; 
    margin: auto;
    margin-top:10px;
    margin-bottom:0px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#contPrincipal img#imgDreta{
    transform: rotate(90deg);
    height:678px;
    width: 1474px;
    float: right;
    position: absolute;
    right: -800px;
    top: 200px;
    z-index: 0;
}

#contPrincipal img#imgEsquerra{
    transform: rotate(90deg);
    height:678px;
    width: 1474px;
    float: right;
    position: absolute;
    right: 875px;
    top: 250px;
    z-index: 0;
}

#titol{
    padding-top: 0px;
}
.tablaLetras{
    border-spacing: 10px;
    empty-cells: show;
    width: 30%;
    margin: 5% 35%;
    height: 20%;
}
#contInstruccions{
    background-color: #683611;
    color: #F6E8B8;
    width: 45%;
    height: 12%;
    margin: 5% 28%;
    padding: 3px;
    border-radius: 10px;
    overflow: hidden;
}
.tablaTeclado{
    border-spacing: 10px;
    width: 90%;
    margin: 0 7%;
    height: 20%;
}
td{
    border: 1px solid black;
    text-align: center;
    width: 10%;
}