html, body {
    height: 100%;
    background-color: #683611;
    color: #683611;
    overflow-x:hidden;
    overflow-y:hidden;
    margin:0px;
}
#contPrincipal{
    background-color: #F6E8B8;
    height: 99%;
    width: 80%;
    margin: auto;
    margin-top:10px;
    margin-bottom:0px;
    text-align: center;
    padding: 0px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#contHeader{
    background-color: #683611;
    border: 2px solid #683611;
    width: 98%;
    height: 2%;
    margin: auto;
    margin-top: 1%;
    border-radius: 10px;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
}

#contHeader button{
    width: 25%;
    height: 100%;
    background-color: #683611;
    color: #F6E8B8;
    font-size: 100%;
    font-weight: bold;
    border: 0px;
    border-radius: 10px;
    margin-left: 3%;
    margin-right: 3%;
}

#contHeader button:hover{
    background-color: #96581C;
    color: #F6E8B8;
    border: 1px solid #000;
}

#contDreta{
    width: 20%;
    height: 100%;
    float: right;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

#contDreta img#imgDretaBenv{
    transform: rotate(90deg);
    height:auto;
    width: 1474px;
    float: right;
    position: absolute;
    right: -800px;
    top: 200px;
    z-index: 0;
}
#contDreta img#imgDretaJugar{
    transform: rotate(90deg);
    height:auto;
    width: 1474px;
    float: right;
    position: absolute;
    right: -800px;
    top: 200px;
    z-index: 0;
}
#contDreta img#imgDretaFinal{
    transform: rotate(90deg);
    height:auto;
    width: 1474px;
    float: right;
    position: absolute;
    right: -800px;
    top: 200px;
    z-index: 0;
}

#contEsquerra{
    width: 20%;
    height: 100%;
    float: left;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

#contEsquerra img#imgEsquerraBenv{
    transform: rotate(90deg);
    height:auto;
    width: 1474px;
    float: left;
    position: absolute;
    left: -800px;
    top: 250px;
    z-index: 0;
}
#contEsquerra img#imgEsquerraJugar{
    transform: rotate(90deg);
    height:auto;
    width: 1474px;
    float: left;
    position: absolute;
    left: -800px;
    top: 250px;
    z-index: 0;
}
#contEsquerra img#imgEsquerraFinal{
    transform: rotate(90deg);
    height:auto;
    width: 1474px;
    float: left;
    position: absolute;
    left: -800px;
    top: 250px;
    z-index: 0;
}

#contCentre{
    width: 40%;
    height: 100%;
    margin: auto;
    text-align: center;
    overflow: hidden;
}
#contIdioma{
    margin-bottom:3px;
}
#contTimer {
    height: auto;
    width: 5%;
    background-color: #683611;
    color: #F6E8B8;
    font-size: 100%;
    font-weight: bold;
    border-radius: 10px;
    position: absolute;
    left: 1243px;
    top: 12px;
    font-size: 30px;
    font-family: Arial;
    text-align: center;
}

#darkmode{
    height: 5%;
    width: 5%;
    background-color: #683611;
    color: #F6E8B8;
    font-size: 100%;
    font-weight: bold;
    border-radius: 10px;
    position: absolute;
    left: 312px;
    top: 12px;
}
#darkmode:hover{
    opacity: 90%;
    color: #F6E8B8;
}
#darkmode::after{
    content: "Dark Mode";
    visibility: visible;
}

#contPrincipal img#imgCentre{
    width: 35%;
    height: 25%;
    margin-top: 9%;
}


#titolIndex{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    font-family: Arial;
    font-weight: bold;
    font-size: 70px;
}

#titol{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-family: Arial;
    font-weight: bold;
    font-size: 70px;
}
#benvingut{
    font-size: 22px;
    font-family: Arial;
    font-weight: bold;
    padding-top: 10px;
}
#textPublicar{
    font-family: Arial;
}
#bRespPublS{
    height: 5%;
    width: 15%;
    background-color: #683611;
    color: #F6E8B8;
    font-size: 100%;
    font-weight: bold;
    border-radius: 10px;
    font-family: Arial;
}
#bRespPublN{
    height: 5%;
    width: 15%;
    background-color: #683611;
    color: #F6E8B8;
    font-size: 100%;
    font-weight: bold;
    border-radius: 10px;
    font-family: Arial;
}
#bRespPublT{
    height: 5%;
    width: 100px;
    background-color: #683611;
    color: #F6E8B8;
    font-size: 100%;
    font-weight: bold;
    border-radius: 10px;
    font-family: Arial;
}

#botoRanking{
    height: 5%;
    width: 10%;
    background-color: #683611;
    color: #F6E8B8;
    font-size: 100%;
    font-weight: bold;
    border-radius: 10px;
    position: absolute;
    left: 312px;
    top: 850px;
}
#botoRanking:hover{
    opacity: 90%;
    color: #F6E8B8;
}

/*Botó de reset*/
#resetID{
    height: 5%;
    width: 8%;
    background-color: #683611;
    color: #F6E8B8;
    font-size: 100%;
    font-weight: bold;
    border-radius: 10px;
    position: absolute;
    left: 1100px;
    top: 850px;
}
#resetID:hover{
    opacity: 90%;
    color: #F6E8B8;
}
.cancelButton, .resetButton {
    float: left;
    width: 25%;
  }
.cancelButton {
    background-color: #888;
    color: black;
    margin-left: 25%;
  }
.resetButton {
    background-color: #f44336;
}
.contReset {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50%;
    height: 25%;
    background-color: #683611;
    margin-left: 25%;
    margin-top: 15%;
    border: 5px solid #000;
    border-radius: 10px;
}
.contResetContent {
    background-color: #F6E8B8;
    border: 1px solid #000;
    width: 90%;
    height: 80%;
    margin: auto;
    margin-top: 2%;
}

#top1{
    font-size: 22px;
    font-family: Arial;
    font-weight: bold;
    float: left;
    margin-left: 0%;
    margin-top: 30px;
    margin-bottom: 5px;
    position: absolute;
    left: 474px;
    top: 47px;
}

#nameuser{
    font-size: 22px;
    font-family: Arial;
    font-weight: bold;
    float: left;
    margin-left: 25%;
    margin-bottom: 5px;
}

#pointUser{
    font-size: 22px;
    font-family: Arial;
    font-weight: bold;
    float: right;
    margin-right: 25%;
    margin-bottom: 5px;
}

#grootVideo{
    display: none;
}

#exUser {
    font-size: 22px;
    font-family: Arial;
    font-weight: bold;
    float: left;
    margin-left: 12%;
    margin-top: 0px;
}
#fallUser {
    font-size: 22px;
    font-family: Arial;
    font-weight: bold;
    float: right;
    margin-right: 20%;
    margin-top: 0px;
}
#triesUser{
    font-size: 22px;
    font-family: Arial;
    font-weight: bold;
    float: right;
    margin-right: 42%;
    margin-top: 0px;
}

.tablaLetras{
    border-spacing: 10px;
    empty-cells: show;
    width: 80%;
    margin: 5% 10%;
    height: 50%;
}

#contTeclat{
    background-color: #683611;
    color: #F6E8B8;
    width: 99%;
    height: 20%;
    padding: 3px;
    border-radius: 10px;
    overflow: hidden;
}
#teclatFila1{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#teclatFila2{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#teclatFila3{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tablaLetras td{
    border: 3px solid #683611;
    text-align: center;
    width: 10%;
    background-color: white;
    font-weight: bold;
    font-size: 30px;
    border-radius: 6px;
    height: 10%;
    font-family: 'Arial';
}
.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #683611;
    background-color: #e2e8f0;
    border-radius: 6px;
    border: 2px solid #683611;
    width: 9%;
    height: 100%;
  }
.boton_personalizado:hover{
    opacity: 60%;
    text-decoration: none;
}

.boton_personalizado_accio{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 17px;
    color: #683611;
    background-color: #F6E8B8;
    border-radius: 6px;
    border: 2px solid #683611;
    width: 15%;
  }
.boton_personalizado_accio:hover{
    opacity: 60%;
    text-decoration: none;
}

.boton_personalizado_accio1{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 17px;
    color: #683611;
    background-color: #F6E8B8;
    border-radius: 6px;
    border: 2px solid #683611;
    width: 15%;
    float: left;
    margin: 0 -20px;
    margin-left: -15px;
    margin-right: 5px;
  }
.boton_personalizado_accio1:hover{
    opacity: 60%;
    text-decoration: none;
}

#contInstruccions{
    background-color: #683611;
    color: #F6E8B8;
    width: 95%;
    height: 30%;
    margin: auto;
    padding: 3px;
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
    font-family: Arial;
    font-size: 15.7px;
}

#contPrincipal h4{
    margin-bottom: 1px;
    font-family: Arial;
    font-size: 17px;
}

form{
    width: 80%;
    height: 30%;
    margin: 0 25px;
}
#formUsuari{
    width: 80%;
    height: 20%;
    margin: auto;
}

#inpUsuari{
    width:100%;
    height: 10%;
    text-align: center;
    border-radius: 10px;
    background-color: #683611;
    color: #F6E8B8;
    font-size: 90%;
}
#inpUsuari::placeholder{
    text-align: center;
    color: #F6E8B8;
}
#botoUsuari{
    margin-top:3%;
    width: 40%;
    height: 20%;
    background-color: #683611;
    color: #F6E8B8;
    font-size: 100%;
    font-weight: bold;
    border-radius: 10px;
}
#botoUsuari:hover{
    background-color: #96581C;
    color: #F6E8B8;
    border: 5px solid #683611;
}

#textFinalPartida{
    font-size: 75px;
    font-family: Arial;
    text-shadow: 0 0 80px rgba(236, 236, 236, 0.897);
    letter-spacing: 0;
    display: block;

    /*Colocar imagen backgound*/
    background: url(imagen-animacion.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    

    /*Animar imagen backgound*/
    -webkit-text-fill-color: transparent;
    -webkit-animation: resultado 80s linear infinite;
    
    /*Activar aceleracion de hardware*/
    -webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
}

@-webkit-keyframes resultado {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

.bordeFinalParitda{
    border: 4px double #96581C;
    margin-top: 30%;
    margin-bottom: 27.25%;
    border-radius: 30px;
}

#botonIdioma{
    background-color: #F6E8B8;
    font-size: 100%;
    font-weight: bold;
    border-radius: 10px;
}

button a{
    color: #683611;
    text-decoration: none;
}

noscript{
    background-color: #683611;
    color: #F6E8B8;
    width: 40%;
    text-align: center;
    height: 30%;
    margin: 0% 30%;
    padding: 3px;
    bottom: 38%;
    border-radius: 10px;
    z-index: 2;
    overflow: hidden;
    font-family: Arial;
    font-size: 15.7px;
    position: fixed; 
}

noscript a{
    color: white;
}


/*Forbidden*/
#contForbidden{
    width: 100%;
    height: 100%;
    z-index: 5;
    text-align: center;
    color: #F6E8B8;
    background-color: #683611;
}

/*Hall of Fame*/
#divHallofFame{
    margin-top: 40px;
    height: 80%;
    overflow-y: scroll;
}
.tableHallOfFame{
    background-image: linear-gradient(to bottom, #683611 0%, #EEC76F  12%);
    background-origin: border-box;
    border-spacing: 5px;
    border: 5px solid transparent;
    width: 100%;
}
.tableHallOfFame th{
    font-size: x-large;
    color: #F6E8B8;
}
.tableHallOfFame td{
    font-weight: bold;
}

@media (prefers-color-scheme: dark){
    body {
        background-color: black;
    }

    #contTimer {
        background-color: black;
        color: #F6E8B8;
    }
    
    #botoRanking{
        background-color: black;
        color: #F6E8B8;
    }
    #botoRanking:hover{
        opacity: 90%;
        color: #F6E8B8;
    }

    #darkmode{
          background-color: black;
          color: #F6E8B8;
    }
    #darkmode:hover{
        opacity: 90%;
        color: #F6E8B8;
    }
    #darkmode::after{
        content: "Light Mode";
        visibility: visible;
    }

    #resetID{
        background-color: black;
        color: #F6E8B8;
    }
    #resetID:hover{
        opacity: 90%;
        color: #F6E8B8;
    }

    .contReset{
        background-color: black;
        color: #F6E8B8;
        border: 5px solid #F6E8B8;
    }
    .contResetContent{
        background-color: #683611;
    }

    #contPrincipal {
        background-color: #683611;
        color: black;
    }
    #contInstruccions {
        background-color: black;
        color: #F6E8B8;
    }
    #inpUsuari {
        background-color: black;
        color: #F6E8B8;
    }
    #inpUsuari::placeholder{
        color: #F6E8B8;
    }
    #botoUsuari{
        background-color: black;
        color: #F6E8B8;
    }
    #botoUsuari:hover{
        background-color: #96581C;
        color: #F6E8B8;
        border: 5px solid #F6E8B8;
    }
    #contHeader{
        background-color: #F6E8B8;
        border: 2px solid #F6E8B8;
    }
    
    #contHeader button{
        background-color: #F6E8B8;
        color: #683611;
    }
    
    #contHeader button:hover{
        background-color: #96581C;
        color: #F6E8B8;
        border: 1px solid #000;
    }

    .tablaLetras td{
        border: 3px solid #F6E8B8;
        background-color: black;
        color: #F6E8B8;
    }

    #contTeclat{
        background-color: #F6E8B8;
        color: #683611;
    }
    .boton_personalizado{
        color: #F6E8B8;
        background-color: #683611;
        border: 2px solid #F6E8B8;
    }
    .boton_personalizado:hover{
        opacity: 90%;
    }

    .boton_personalizado_accio{
        color: #F6E8B8;
        background-color: #683611;
        border: 2px solid #F6E8B8;
    }
    .boton_personalizado_accio:hover{
        opacity: 90%;
    }

    .boton_personalizado_accio1{
        color: #F6E8B8;
        background-color: #683611;
        border: 2px solid #F6E8B8;
    }
    .boton_personalizado_accio1:hover{
        opacity: 90%;
    }
        
    #textFinalPartida{
        font-size: 75px;
        font-family: Arial;
        text-shadow: 0 0 80px rgba(236, 236, 236, 0.897);
        letter-spacing: 0;
        display: block;

        /*Colocar imagen backgound*/
        background: url(imagen-animacion-dark.png) repeat-y;
        -webkit-background-clip: text;
        background-clip: text;
        

        /*Animar imagen backgound*/
        -webkit-text-fill-color: transparent;
        -webkit-animation: resultado 80s linear infinite;
        
        /*Activar aceleracion de hardware*/
        -webkit-transform: translate3d(0,0,0);
        -webkit-backface-visibility: hidden;
    }
    .bordeFinalParitda{
        border: 4px double #EEC76F;
    }
}

@media not print {
    .dark body {
      background-color: black;
    }

    .dark #contTimer {
        background-color: black;
        color: #F6E8B8;
    }

    .dark #botoRanking{
        background-color: black;
        color: #F6E8B8;
    }
    .dark #botoRanking:hover{
        opacity: 90%;
        color: #F6E8B8;
    }

    .dark #darkmode{
        background-color: black;
        color: #F6E8B8;
    }
    .dark #darkmode:hover{
        opacity: 90%;
        color: #F6E8B8;
    }
    .dark #darkmode::after{
        content: "Light Mode";
        visibility: visible;
    }

    .dark #resetID{
        background-color: black;
        color: #F6E8B8;
    }
    .dark #resetID:hover{
        opacity: 90%;
        color: #F6E8B8;
    }

    .dark .contReset{
        background-color: black;
        color: #F6E8B8;
        border: 5px solid #F6E8B8;
    }
    .dark .contResetContent{
        background-color: #683611;
    }

    .dark #contPrincipal {
        background-color: #683611;
        color: black;
    }
    .dark #contInstruccions {
        background-color: black;
        color: #F6E8B8;
    }
    .dark #inpUsuari {
        background-color: black;
        color: #F6E8B8;
    }
    .dark #inpUsuari::placeholder{
        color: #F6E8B8;
    }
    .dark #botoUsuari{
        background-color: black;
        color: #F6E8B8;
    }
    .dark #botoUsuari:hover{
        background-color: #96581C;
        color: #F6E8B8;
        border: 5px solid #F6E8B8;
    }
    .dark #contHeader{
        background-color: #F6E8B8;
        border: 2px solid #F6E8B8;
    }
    
    .dark #contHeader button{
        background-color: #F6E8B8;
        color: #683611;
    }
    
    .dark #contHeader button:hover{
        background-color: #96581C;
        color: #F6E8B8;
        border: 1px solid #000;
    }

    .dark .tablaLetras td{
        border: 3px solid #F6E8B8;
        background-color: black;
        color: #F6E8B8;
    }

    .dark #contTeclat{
        background-color: #F6E8B8;
        color: #683611;
    }
    .dark .boton_personalizado{
        color: #F6E8B8;
        background-color: #683611;
        border: 2px solid #F6E8B8;
    }
    .dark .boton_personalizado:hover{
        opacity: 90%;
    }

    .dark .boton_personalizado_accio{
        color: #F6E8B8;
        background-color: #683611;
        border: 2px solid #F6E8B8;
    }
    .dark .boton_personalizado_accio:hover{
        opacity: 90%;
    }

    .dark .boton_personalizado_accio1{
        color: #F6E8B8;
        background-color: #683611;
        border: 2px solid #F6E8B8;
    }
    .dark .boton_personalizado_accio1:hover{
        opacity: 90%;
    }
        
    .dark #textFinalPartida{
        font-size: 75px;
        font-family: Arial;
        text-shadow: 0 0 80px rgba(236, 236, 236, 0.897);
        letter-spacing: 0;
        display: block;

        /*Colocar imagen backgound*/
        background: url(imagen-animacion-dark.png) repeat-y;
        -webkit-background-clip: text;
        background-clip: text;
        

        /*Animar imagen backgound*/
        -webkit-text-fill-color: transparent;
        -webkit-animation: resultado 80s linear infinite;
        
        /*Activar aceleracion de hardware*/
        -webkit-transform: translate3d(0,0,0);
        -webkit-backface-visibility: hidden;
    }
    .dark .bordeFinalParitda{
        border: 4px double #EEC76F;
    }
    .dark #bRespPublS{
        background-color: black;
        color: #F6E8B8;
    }
    .dark #bRespPublN{
        background-color: black;
        color: #F6E8B8;
    }
    .dark #bRespPublT{
        background-color: black;
        color: #F6E8B8;
    }

  }

  @media only screen and (max-width: 800px), only screen and (max-height: 600px){
    #titolIndex{
        font-size: 50px;
    }
    #titol{
        font-size: 50px;
        margin-top: 0px;
        margin-bottom: -15px;
    }

    #contIdioma a{
        font-size: 15px;
    }

    #contTimer {
        width: 15%;
        left: 528px;
        font-size: 25px;
    }

    #darkmode{
        left: 28px;
        width: 10%;
        height: auto;
    }
    
    #top1{
        left: 140px;
        margin-top: -7px;
        font-size: 15px;
    }
    #botoRanking{
        width: 17%;
        left: 8px;
        top: 538px;
    }
    
    #resetID {
        left: 551px;
        top: 538px;
        width: 10%;
        font-size: 11px;
    }
    .contReset {
        width: 40%;
        height: 30%;
        margin-left: 30%;
        margin-top: 30%;
        font-size: 14px;
    }
    .contResetContent {
        height: 90%;
    }
    .cancelButton, .resetButton {
        float: left;
        width: 30%;
    }
    .cancelButton {
        margin-left: 20%;
    }

    #contInstruccions{
        height: 45%;
        overflow: scroll;
    }
    #contInstruccions li{
        margin-left: -40px;
    }

    #contDreta img#imgDretaBenv{
        width: 783px;
        right: -444px;
        top: 100px;
    }
    #contEsquerra img#imgEsquerraBenv{
        width: 783px;
        left: -444px;
        top: 130px;
    }

    #contDreta img#imgDretaJugar{
        width: 517px;
        right: -248px;
        top: 67px;
    }
    #contEsquerra img#imgEsquerraJugar{
        width: 512px;
        left: -248px;
        top: 85px;
    }

    #contDreta img#imgDretaFinal{
        width: 517px;
        right: -248px;
        top: 67px;
    }
    #contEsquerra img#imgEsquerraFinal{
        width: 512px;
        left: -248px;
        top: 85px;
    }

    #contHeader{
        height: 4%;
    }
    #contHeader button{
        width: 28%;
        margin-left: 10%;
        margin-right: 10%;
    }
    #nameuser{
        font-size: 15px;
        margin-left: 6%;
    }
    #pointUser{
        font-size: 15px;
        margin-right: 6%;
    }
    #exUser {
        top: 36px;
        font-size: 15px;
        margin-left: -42px;
        position: relative;
    }
    #fallUser {
        top: 36px;
        font-size: 15px;
        margin-right: -84px;
        position: relative;
    }
    #triesUser{
        font-size: 15px;
        margin-right: 35%;
        margin-bottom: 0px;
        top: 20px;
        position: relative;
    }

    #contCentre{
        overflow: visible;
    }

    #contTeclat{
        width: 245%;
        height: 31%;
        padding: 0px;
        left: -182px;
        top: -18px;
        position: relative;
    }

    .tablaLetras {
        width: 280px;
        height: 50%;
        position: relative;
        left: -39px;
    }
    .tablaLetras td{
        width: 35px;
        height: 30px;
        font-size: 20px;
    }

    #textFinalPartida{
        font-size: 30px;
    }
    .bordeFinalParitda{
        margin-top: 50%;
        margin-bottom: 54%;
    }
    .tableHallOfFame{
        border-spacing: 0px;
    }
    .tableHallOfFame th{
        font-size: 13px;
        color: #F6E8B8;
    }
    .tableHallOfFame td{
        font-size: 11px;
    }
    
    #textPublicar{
        font-size: 20px;
        font-family: Arial;
    }

    .dark #textFinalPartida{
        font-size: 30px;
        font-family: Arial;
        text-shadow: 0 0 80px rgba(236, 236, 236, 0.897);
        letter-spacing: 0;
        display: block;
    }
}


@media only screen and (max-width: 375px){
    #contPrincipal{
        width: 100%;
    }

    #benvingut{
        font-size: 12px;
    }
    #titolIndex{
        font-size: 30px;
    }
    #titol{
        position: relative;
        top: -54px;
        height: 60px;
    }
    #contTimer {
        width: 20%;
        left: 288px;
        top: 618px;
        font-size: 20px;
    }
    #top1 {
        left: 15px;
        top: 640px;
        width: 15%;
        height: auto;
    }
    #darkmode {
        left: 154px;
        top: 629px;
        width: 15%;
        height: auto;
    }
    #botoRanking{
        width: 25%;
        left: 8px;
        top: 590px;
        font-size: 11px;
        height: auto;
    }
    #resetID {
        left: 300px;
        top: 590px;
        width: 16%;
        height: auto;
        font-size: 11px;
    }

    #divHallofFame {
        margin-top: 54px;
    }

    .contReset {
        width: 70%;
        height: 25%;
        margin-left: 15%;
        margin-top: 60%;
        font-size: 15px;
    }
    .cancelButton, .resetButton {
        float: left;
        width: 35%;
    }
    .cancelButton {
        margin-left: 15%;
    }

    #contDreta{
        width: 100%;
        height: 10%;
    }
    #contEsquerra{
        width: 100%;
        height: 10%;
        top: 518px;
    }
    #contCentre{
        width: 100%;
        height: 90%;
        top: -43px;
        position: relative;
    }

    #contDreta img#imgDretaBenv{
        transform: rotate(0deg);
        top: -144px;
        width: 473px;
        left: -64px;
    }
    #contEsquerra img#imgEsquerraBenv{
        transform: rotate(0deg);
        top: 0px;
        width: 487px;
        left: -55px;
    }
    #contDreta img#imgDretaJugar{
        visibility: hidden;
    }
    #contEsquerra img#imgEsquerraJugar{
        visibility: hidden;
    }
    #contDreta img#imgDretaFinal{
        display: none;
    }
    #contEsquerra img#imgEsquerraFinal{
        transform: rotate(0deg);
        top: -129px;
        width: 431px;
        left: -77px;
    }

    #contHeader {
        height: 4%;
        top: -78px;
        position: relative;
    }

    #nameuser {
        top: -20px;
        left: 50px;
        position: relative;
    }
    #pointUser {
        top: -20px;
        left: -50px;
        position: relative;
    }
    #exUser {
        top: 12px;
        margin-left: 9px;
    }
    #fallUser {
        top: 12px;
        margin-right: -34px;
    }
    #triesUser{
        top: -7px;
        left: -13px;
        position: relative;
    }

    .tablaLetras{
        left: 0px;
        top: -16px;
    }

    #contTeclat{
        height: 24%;
    }

    #contEsquerra img#imgEsquerraFinal {
        top: -142px;
        width: 475px;
        left: -62px;
    }

    #teclatFila1 {
        position: relative;
        left: -76px;
    }
    #teclatFila2 {
        position: relative;
        left: -76px;
    }
    #teclatFila3 {
        position: relative;
        left: -76px;
    }
    .boton_personalizado {
        padding: 6px;
        font-size: 14px;
        width: 3.6%;
    }
    .boton_personalizado_accio {
        padding-top: 10px;
        padding-bottom: 8px;
        padding-left: 3px;
        font-size: 10px;
        width: 6%;
    }

    .bordeFinalParitda {
        margin-bottom: 38%;
    }
    .boton_personalizado_accio1{
        width: 7%;
        padding-top: 10px;
        padding-bottom: 8px;
        padding-left: 3px;
        font-size: 10px;
        position: relative;
        top: 0px;
        left: 245px;
        
    }
    .tableHallOfFame{
        margin-top: 150px;
    }

    #textPublicar{
        font-size: 20px;
        font-family: Arial;
    }
}



